body{
    background-color: rgb(48, 48, 48);
    color: white;
}
.col, .col-md-2{
    width: 12.5%;
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: rgb(48, 48, 48);
    text-align: center;
    color: white;
}



